body{
    background-color:black;
}
#padding{
    height: 10px;
    background-color: grey;
}
#display{
    background-color:white;
    text-align: right;
    padding-right:15px;
    font-size:43px;
    min-height:70px;
}

#display2{
    background-color:white;
    color:black;
    text-align: right;
    padding-top:10px;
    padding-right:15px;
    font-size:16px;
    min-height:40px;
}

#calcContainer{
    margin-top:100px;
    display:flexbox;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    border:solid grey 15px;
}

#numContainer{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    height:700px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}
.cBtn{
    display:flexbox;
    font-size:32px;
    margin:0px;
    border:2px solid black;
}
.notNum{
    background-color:rgb(170, 180, 180);
}
.notNum:hover{
    background-color:rgb(145, 153, 153)
}
#bsClr{
    background-color:grey;
    display:flexbox;
}
.xtra{
    margin-bottom:10px;
    margin-left:70px;
    margin-right:70px;
    height:90px;
    width:200px;
    border:black 2px solid;
    border-radius:0%;
    background-color:indianred;
}
.xtra:hover{
    background-color:rgb(167, 77, 77);
}