#display{
    text-align: center;
    font-size:43px;
    min-height:100px;
}

#display2{
    text-align: center;
    font-size:16px;
    min-height:40px;
}

#calcContainer{
    display:box;
    margin-left:auto;
    margin-right:auto;
}

#numContainer{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    height:700px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
}

.operator{
    display:box;
    position:relative
    
}
.cBtn{
   display:flexbox;
   font-size:32px;
}